body{
    margin: 0;
    padding: 0;
    background: url(trio.jpg);
    background-size: cover;
    position: relative;
    font-family: sans-serif;

}

.loginbox{
    height:420px;
    width: 320px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-38%, 40%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: blue;
    font-size: 16px;


}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: blue;
    color: #000;

}

.loginbox a{
    text-decoration: none;
    line-height: 20px;
    color: white;
    font-size: 15px;
}

.loginbox a:hover{
    color: blue;
}

